footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #116fbf;
  color: white;
  text-align: center;
}

header {
  text-align: center;
  background: linear-gradient(90deg,#0388e5 0,#07bdf4);
  color: white;
  padding: .7em 1.5em 0;
}